<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Bienvenue sur Notre Application</title>
  </head>
  <body>
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      width="600"
    >
      <tr>
        <td
          align="center"
          bgcolor="#007BFF"
          style="padding: 40px 0 30px 0"
        >
          <h1 style="color: #ffffff; font-size: 28px">
            Bienvenue sur Notre Application
          </h1>
        </td>
      </tr>
      <tr>
        <td
          bgcolor="#ffffff"
          style="padding: 40px 30px 40px 30px"
        >
          <table
            cellpadding="0"
            cellspacing="0"
            width="100%"
          >
            <tr>
              <td style="color: #333333; font-size: 18px">
                <p>Bonjour <%= firstname %> <%= lastname %>,</p>
                <p>
                  Merci de vous être inscrit sur Notre Application. Nous sommes
                  ravis de vous accueillir dans notre communauté.
                </p>
                <p>
                  Si vous avez des questions ou avez besoin d'aide, n'hésitez
                  pas à nous contacter.
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td
          bgcolor="#007BFF"
          style="padding: 30px 30px 30px 30px"
        >
          <table
            cellpadding="0"
            cellspacing="0"
            width="100%"
          >
            <tr>
              <td
                width="75%"
                style="color: #ffffff; font-size: 14px"
              >
                &copy; 2023 Notre Application. Tous droits réservés.
              </td>
              <td align="right">
                <table
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                >
                  <tr>
                    <td
                      style="font-size: 0; line-height: 0"
                      width="20"
                    >
                      &nbsp;
                    </td>
                    <td>
                      <a
                        href="https://www.example.com/"
                        target="_blank"
                        style="color: #ffffff"
                      >
                        <img
                          src="https://www.example.com/images/facebook.png"
                          alt="Facebook"
                          width="38"
                          height="38"
                          border="0"
                        />
                      </a>
                    </td>
                    <td
                      style="font-size: 0; line-height: 0"
                      width="20"
                    >
                      &nbsp;
                    </td>
                    <td>
                      <a
                        href="https://www.example.com/"
                        target="_blank"
                        style="color: #ffffff"
                      >
                        <img
                          src="https://www.example.com/images/twitter.png"
                          alt="Twitter"
                          width="38"
                          height="38"
                          border="0"
                        />
                      </a>
                    </td>
                    <td
                      style="font-size: 0; line-height: 0"
                      width="20"
                    >
                      &nbsp;
                    </td>
                    <td>
                      <a
                        href="https://www.example.com/"
                        target="_blank"
                        style="color: #ffffff"
                      >
                        <img
                          src="https://www.example.com/images/linkedin.png"
                          alt="LinkedIn"
                          width="38"
                          height="38"
                          border="0"
                        />
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
